*
    box-sizing: border-box
    -webkit-margin-before:  0
    -webkit-margin-after: 0
body
    margin: 0
    box-sizing: border-box
.home
    height: 100vh
    width: 100%
    background: url("../images/background1.jpg") no-repeat top
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
